[Desktop Entry]
Name=PwdGen
Comment=Secure Password Generator
Exec=/opt/pwdgen/bin/pwdgen
Icon=pwdgen
Terminal=false
Type=Application
Categories=Utility;Security;
StartupWMClass=MainKt