.idea
/venv
/out
/docs/node_modules
/desktop/.run
/desktop/.idea
/desktop/.kotlin
/desktop/gradle
/desktop/.gradle
/desktop/build
dsktp.txt
repo/pool/main/p/pwdgen/*.deb
create-repo
/__pycache__
/.venv
instructionForMe.md
repo-update
build-package